.Page-container {
    height: 100%;
    width: 100%;
    padding: 100px 50px 50px 50px;
    margin: 0;
}

.WebPlayer-container {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-rows: 1fr 90px;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "sidebar  content"
    "footer  footer";
}

.WebPlayer-content {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-areas: "album-info tracks";
    background: linear-gradient(to bottom right, sandybrown, #FAE27A);
}

.WebPlayer-album-info {
    grid-area: album-info;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.WebPlayer-album-info-cell {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WebPlayer-album-info img {
    height: 300px;
    width: 300px;
}

.WebPlayer-album-info-cell > div {
    display: flex;
    justify-content: center;
    padding-top: -20px;
}

.WebPlayer-album-info-cell p {
    font-size: 18px;
    font-weight: lighter;
    color: whitesmoke;
}

#album-details {
    margin-top: -100px;
}

#album-title p {
    font-size: 26px;
    font-weight: bold;
}

#album-title {
    flex: 0.125;
}

#album-artist {
    flex: 0.25;
}

#album-info {
    flex: 0.25;
    margin-top: -50px;
}

#album-subscribe {
    margin-top: -20px;
}

.WebPlayer-album-tracks-cell {
    margin-top: 50px;
    grid-area: tracks;
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
}

.WebPlayer-track {
    display: grid;
    grid-template-columns: 0.5fr 8.5fr 1fr;
    grid-template-areas: "num title duration";
    border-bottom: 1px solid whitesmoke;
    margin-right: 100px;
}

.WebPlayer-track p {
    color: whitesmoke;
    margin-bottom: -0.001px;
}

.WebPlayer-track-disabled {
    display: grid;
    grid-template-columns: 0.5fr 8.5fr 1fr;
    grid-template-areas: "num title duration";
    border-bottom: 1px solid gray;
    margin-right: 100px;
}

.WebPlayer-track-disabled p {
    color: gray;
    margin-bottom: -0.001px;
}

.WebPlayer-track-number {
    grid-area: num;
}

.WebPlayer-track-title {
    grid-area: title;
}

.WebPlayer-track-duration {
    grid-area: duration;
}

.WebPlayer-track-duration p {
    text-align: right;
    padding-right: 5px;
}
