.Header-container {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "logo links";
    background-color: rgba(18, 18, 18, 0.9);
    height: 50px;
    padding: 20px 20px 20px 50px;
    color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
}

.Header-left {
    grid-area: logo;
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 50px;
}

.Header-right {
    grid-area: links;
    display: flex;
    flex: 1;
    align-items: center;
}

.Header-logo {
    height: 50px;
    width: 50px;
    padding-right: 16px;
}

.Header-intro {
    font-size: medium;
}

.Header-link {
    font-size: 16px;
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.Footer-container {
    display: flex;
    background-color: rgba(18, 18, 18, 0.9);
    justify-content: center;
    height: 50px;
    padding: 20px;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Footer-main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.Footer-logo {
    height: 50px;
    width: 50px;
    padding-right: 16px;
}

.Footer-intro {
    font-size: medium;
}

.WebPlayer-sidebar {
    grid-area: sidebar;
    background-color: #222222;
    display: grid;
    grid-template-rows: 50px 1fr;
    padding: 20px 10px 20px 10px;
}

.WebPlayer-sidebar img {
    height: 42px;
    width: 42px;
}

.WebPlayer-sidebar-logo-container {
    height: 50px;
    width: 100%;
    border-bottom: 2px solid whitesmoke;
}

.WebPlayer-sidebar-link {
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.WebPlayer-sidebar-links-container {
    display: grid;
    margin-top: 10px;
    grid-template-rows: 30px 30px;

}

.WebPlayer-footer-container {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9c9c9;
}

.WebPlayer-footer-container audio {
    flex: 0.5;
    background-color: #000000;
}

.btn-base {
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    margin: 6px;
}

.btn-cta-primary {
    background-color: royalblue;
    color: whitesmoke;
}

.btn-cta-secondary {
    background-color: darkorange;
    color: whitesmoke;
}
